Source: bps
Section: science
Priority: optional
Maintainer: Frank S. Thomas <frank@thomas-alfeld.de>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 5), cmake, libqt4-dev

Package: mensor
Section: science
Architecture: any
Depends: ${shlibs:Depends}
Description: none
 none

Package: libbps0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: none
 none

Package: libbps-dev
Section: libdevel
Architecture: all
Depends:
Description: none
 none
